:root {
    --secundary-color: #003366;
    --primary-color: #253677;
    --text-color: #FFFFFF;
    --text-hover-color: #000000;
    --title-h1: 2rem;   /* Tamaño más grande */
    --title-h2: 1.8rem;
    --title-h3: 1.6rem;
    --paragraph: 1.4rem;
}

main {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

/*--------------------carousel--------------------*/
.introduction {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 100vh;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: max-content;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100vh;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nombre {
    width: 100vh;
    background-color: rgba(97, 77, 77, 0.562);
    position: absolute;
}

.nombre h1 {
    font-size: calc(var(--title-h1) * 2.5);
    text-align: center;
    color: var(--text-color);
}


/*--------------------quienes somos---------------*/

.quienes-somos {
    width: 60%;
    margin: 2rem 0;
    border-top: 1px solid black;
    background: rgba(255, 255, 255, 0.3);
}

.quienes-somos .titulo{
    margin: 2rem 0;
    font-size: var(--title-h1);
    text-align: center;
    width: 100%;
}

.quienes-somos p {
    font-size: var(--title-h3);
    padding: 1rem;
}


/*------------------------------------------------*/
/*---------------compromiso y proposito-----------*/
/*------------------------------------------------*/

.compromiso-proposito {
    width: 60%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    margin: 2rem 0;
    background: rgba(255, 255, 255, 0.3);
}

.compromiso-proposito h1 {
    font-size: var(--title-h1);
    margin: 1rem;
    text-align: center;
}

.compromiso-proposito .titulo {
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: var(--title-h1);
    margin-bottom: 20px;
}

.container-tarjetas {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tarjeta {
    width: 30%;
    min-height: 450px;
    perspective: 1000px;
}

.tarjeta-inner {
    width: 100%;
    min-height: 450px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.tarjeta:hover .tarjeta-inner {
    transform: rotateY(180deg);
}

.tarjeta-front,
.tarjeta-back {
    position: absolute;
    width: 100%;
    min-height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}


.tarjeta-front {
    background: linear-gradient(to bottom right, #007bff, #00d4ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.tarjeta-front img {
    width: 20%;
}


.tarjeta-back {
    background: rgba(255, 255, 255, 0.5);
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text-hover-color);
}


.tarjeta-front .titulo-tarjeta h1 {
    margin: 10px 0;
    font-size: var(--title-h1);
    color: var(--text-color);
}


.tarjeta-back .titulo-tarjeta h2 {
    margin: 10px 0;
    font-size: var(--title-h2);
    color: var(--text-hover-color);
}

.texto-tarjeta ol {
    margin-left: 20px;
}

.texto-tarjeta p,
.texto-tarjeta ol li {
    text-align: start;
    font-size: var(--paragraph);
    color: var(--text-hover-color);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/*------------------------------------------------*/
/*--------------Ventajas Competitivas-------------*/
/*------------------------------------------------*/

.ventas-competitivas {
    width: 60%;
    margin: 2rem 0;
    border-top: 1px solid black;
    background-color: rgba(255, 255, 255, .3);
    padding: 40px;
}

.ventas-competitivas h1 {
    font-size: var(--title-h1);
    margin: 1rem;
    text-align: center;
    margin-bottom: 10px;
}

.ventas-competitivas h2{
    font-size: var(--title-h2);
}

.ventas-competitivas h3{
    font-size: var(--title-h3);
}

.ventas-competitivas p{
    font-size: var(--paragraph);
}

/* Acordeón principal */
.accordion {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.accordion .icon {
    margin-right: 10px;
    font-size: 1.5rem;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .5);
    font-size: 1rem;
    line-height: 1.6;
    border-left: 3px solid #2980b9;
    margin-bottom: 10px;
}

/* Subacordeón */
.nested-accordion {
    background-color: #5dade2;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
    display: block;
}

.nested-panel {
    padding: 10px 15px;
    display: none;
    background-color: rgba(255, 255, 255, 1);
    line-height: 1.4;
    margin-top: 5px;
    border-radius: 0 10px 10px 0;
    border-left: 3px solid #5dade2;
}

/*------------------------------------------------*/
/*----------------------Eligenos------------------*/
/*------------------------------------------------*/

.eligenos {
    width: 60%;
    margin: 2rem 0;
    border-top: 1px solid black;
    background-color: rgba(255, 255, 255, .3);
}

.eligenos .image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eligenos .image img{
    width: 57vw;
}

.tam2{
    display: none;
}

/*------------------------------------------------*/
/*------------Media Query para laptops------------*/
/*------------------------------------------------*/
@media (min-width: 1025px) and (max-width: 1440px) {
    :root {
        --title-h1: 1.8rem;
        --title-h2: 1.6rem;
        --title-h3: 1.4rem;
        --paragraph: 1.2rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        width: 80%;
    }

    .carousel {
        height: 300px;
    }

    .carousel-slide img {
        height: 60%;
    }

    /*--------------------quienes-somos---------------*/
    .quienes-somos {
        width: 80%;
        margin: 2rem;
    }

    /*---------------compromiso y proposito-----------*/
    .compromiso-proposito {
        width: 80%;
    }

    .container-tarjetas {
        width: 100%;
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tarjeta {
        min-height: 550px;
    }

    .tarjeta-inner {
        width: 100%;
        min-height: 550px;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    .tarjeta {
        width: 32%;
    }

    /*--------------Ventajas Competitivas-------------*/
    .ventas-competitivas {
        width: 80%;
        margin: 2rem 0;
        border-top: 1px solid black;
    }

    .accordion {
        width: 100%;
    }

    /*----------------------Eligenos------------------*/
    .eligenos {
        width: 80%;
    }
    
    .eligenos .image{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .eligenos .image img{
        width: 83vw;
    }
}




/*------------------------------------------------*/
/*------------Media Query para tablets------------*/
/*------------------------------------------------*/
@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --title-h1: 1.6rem;
        --title-h2: 1.4rem;
        --title-h3: 1.2rem;
        --paragraph: 1rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        width: 90%;
    }

    .carousel {
        height: 300px;
    }

    .carousel-slide img {
        height: 60%;
    }

    /*--------------------quienes-somos---------------*/
    .quienes-somos {
        width: 90%;
    }

    /*---------------compromiso y proposito-----------*/
    .compromiso-proposito {
        width: 90%;
    }

    .container-tarjetas {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .tarjeta {
        width: 90%;
        min-height: 300px;
    }

    .tarjeta-inner {
        width: 100%;
        min-height: 300px;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    .tarjeta-front img {
        width: 10%;
    }

    /*--------------Ventajas Competitivas-------------*/
    .ventas-competitivas {
        width: 90%;
        margin: 2rem 0;
        border-top: 1px solid black;
    }

    .accordion {
        width: 100%;
    }

    /*----------------------Eligenos------------------*/
    .eligenos {
        width: 90%;
    }
    
    .eligenos .image{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .eligenos .image img{
        width: 93vw;
    }
}

/* Media Query para celulares */
@media (max-width: 768px) {
    :root {
        --title-h1: 1.4rem;
        --title-h2: 1.2rem;
        --title-h3: 1rem;
        --paragraph: 0.9rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        max-width: 100%;
    }

    .carousel {
        width: 97vw;
        height: 250px;
    }

    .carousel-slide img {
        height: 60%;
    }

    .introduction .nombre{
        width: 100%;
    }

    /*--------------------quienes-somos---------------*/
    .quienes-somos {
        width: 100%;
        padding: 10px;
    }

    /*---------------compromiso y proposito-----------*/
    .compromiso-proposito {
        width: 100%;
        padding: 10px;
    }

    .container-tarjetas {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .tarjeta {
        width: 100%;
        min-height: 450px;
    }

    .tarjeta-inner {
        min-height: 450px;
    }

    .tarjeta-front img {
        width: 10%;
    }

    /*--------------Ventajas Competitivas-------------*/
    .ventas-competitivas {
        width: 100%;
        padding: 10px;
        margin: 2rem 0;
        border-top: 1px solid black;
    }

    .accordion {
        width: 100%;
    }

    /*----------------------Eligenos------------------*/
    .eligenos {
        width: 100%;
    }
    
    .eligenos .image{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .eligenos .image img{
        width: 95vw;
    }
    .tam1{
        display: none;
    }

    .tam2{
        display: block;
    }
}