:root {
    --secundary-color: #003366;
    --primary-color: #253677;
    --text-color: #FFFFFF;
    --text-hover-color: #000000;
    --title-h1: 2rem;   
    --title-h2: 1.8rem;
    --title-h3: 1.6rem;
    --paragraph: 1.4rem;
}

main {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


/*--------------------carousel--------------------*/
.introduction {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 100vh;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: max-content;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100vh;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nombre {
    width: 100vh;
    background-color: rgba(97, 77, 77, 0.562);
    position: absolute;
}

.nombre h1 {
    font-size: calc(var(--title-h1) * 2.5);
    text-align: center;
    color: var(--text-color);
}


/*--------------iniciar sesion--------------------*/
.iniciar-sesion {
    width: 60%;
    padding: 30px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}

.login-container {
    background: linear-gradient(to bottom right, #007bff, #00d4ff);
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 60%;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--text-color);
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: var(--text-hover-color);
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #0056b3;
}

.message {
    text-align: center;
    margin-top: 20px;
    font-size: var(--paragraph);
    color: #1c1c1c;
}

.message a {
    color: var(--text-color);
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

/*------------------------------------------------*/
/*------------Media Query para laptops------------*/
/*------------------------------------------------*/
@media (min-width: 1025px) and (max-width: 1440px) {
    :root {
        --title-h1: 1.8rem;
        --title-h2: 1.6rem;
        --title-h3: 1.4rem;
        --paragraph: 1.2rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        width: 80%;
    }

    .carousel {
        height: 300px;
    }

    .carousel-slide img {
        height: 60%;
    }
    
    /*--------------iniciar sesion--------------------*/
    .iniciar-sesion {
        width: 80%;
    }
}




/*------------------------------------------------*/
/*------------Media Query para tablets------------*/
/*------------------------------------------------*/
@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --title-h1: 1.6rem;
        --title-h2: 1.4rem;
        --title-h3: 1.2rem;
        --paragraph: 1rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        width: 90%;
    }

    .carousel {
        height: 300px;
    }

    .carousel-slide img {
        height: 60%;
    }

    /*--------------iniciar sesion--------------------*/
    .iniciar-sesion {
        width: 90%;
    }
}

/* Media Query para celulares */
@media (max-width: 768px) {
    :root {
        --title-h1: 1.4rem;
        --title-h2: 1.2rem;
        --title-h3: 1rem;
        --paragraph: 0.9rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        max-width: 100%;
    }

    .carousel {
        width: 100vw;
        height: 250px;
    }

    .carousel-slide img {
        height: 60%;
    }

    .introduction .nombre{
        width: 100%;
    }

    /*--------------iniciar sesion--------------------*/
    .iniciar-sesion {
        width: 100%;
    }

    .login-container {
        max-width: 100%;
    }
}