:root {
    --secundary-color: #003366;
    --primary-color: #253677;
    --text-color: #FFFFFF;
    --text-hover-color: #000000;
    --title-h1: 2rem;
    --title-h2: 1.8rem;
    --title-h3: 1.6rem;
    --paragraph: 1.4rem;
}

main {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


/*--------------------carousel--------------------*/
.introduction {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 100vh;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: max-content;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100vh;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nombre {
    width: 100vh;
    background-color: rgba(97, 77, 77, 0.562);
    position: absolute;
}

.nombre h1 {
    font-size: calc(var(--title-h1) * 2.5);
    text-align: center;
    color: var(--text-color);
}



/*--------------administracion--------------------*/
.administracion {
    padding: 40px 20px;
    width: 60%;
    margin: 2rem auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
}

.cabecera {
    color: var(--text-hover-color);
    text-align: center;
    padding: 30px 10px;
}

.cabecera h1 {
    font-size: var(--title-h1);
    margin: 0;
}

.administracion h2 {
    margin-top: 1rem;
    font-size: var(--title-h2);
    margin-bottom: 20px;
}

.administracion p {
    font-size: var(--paragraph);
    color: var(--text-hover-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

.administracion .centro {
    font-size: var(--title-h2);
    text-align: center;
    margin-bottom: 20px;
}

/* Acordeón */
.accordion {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: var(--paragraph);
    transition: 0.4s;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.accordion .icon {
    margin-right: 10px;
    font-size: 1.5rem;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f4f4f4;
    color: #7f8c8d;
    font-size: 1rem;
    line-height: 1.6;
    border-left: 3px solid #2980b9;
    margin-bottom: 10px;
}

.action {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cta-button {
    background: #3498db;
    color: var(--text-color);
    font-size: var(--title-h3);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 30px;
    transition: background-color 0.3s;
    width: 50%;
}

.cta-button:hover {
    background-color: #c0392b;
}

/*------------------------------------------------*/
/*------------Media Query para laptops------------*/
/*------------------------------------------------*/
@media (min-width: 1025px) and (max-width: 1440px) {
    :root {
        --title-h1: 1.8rem;
        --title-h2: 1.6rem;
        --title-h3: 1.4rem;
        --paragraph: 1.2rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        width: 80%;
    }

    .carousel {
        height: 300px;
    }

    .carousel-slide img {
        height: 60%;
    }

    /*--------------administr.administracion--------------------*/
    .administracion {
        width: 80%;
    }
}




/*------------------------------------------------*/
/*------------Media Query para tablets------------*/
/*------------------------------------------------*/
@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --title-h1: 1.6rem;
        --title-h2: 1.4rem;
        --title-h3: 1.2rem;
        --paragraph: 1rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        width: 90%;
    }

    .carousel {
        height: 300px;
    }

    .carousel-slide img {
        height: 60%;
    }

    /*--------------administr.administracion--------------------*/
    .administracion {
        width: 90%;
    }
}

/* Media Query para celulares */
@media (max-width: 768px) {
    :root {
        --title-h1: 1.4rem;
        --title-h2: 1.2rem;
        --title-h3: 1rem;
        --paragraph: 0.9rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        max-width: 100%;
    }

    .carousel {
        width: 100vw;
        height: 250px;
    }

    .carousel-slide img {
        height: 60%;
    }

    .introduction .nombre{
        width: 100%;
    }

    /*--------------administr.administracion--------------------*/
    .administracion {
        width: 100%;
    }

    .cta-button {
        width: 100%;
    }
}