:root {
    --secundary-color: #003366;
    --primary-color: #253677;
    --text-color: #FFFFFF;
    --text-hover-color: #000000;
    --title-h1: 1.8em;
    --title-h2: 1.6em;
    --title-h3: 1.4em;
    --paragraph: 1.2em;
}

main {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

/*--------------------carousel--------------------*/
.introduction {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 100vh;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: max-content;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100vh;
    height: 100%;
    object-fit: cover;
    /* Ajusta la imagen para cubrir el contenedor, manteniendo la proporción */
    object-position: center;
    /* Centra la imagen en el contenedor */
}

.nombre {
    width: 100vh;
    background-color: rgba(97, 77, 77, 0.562);
    position: absolute;
}

.nombre h1 {
    font-size: 4em;
    text-align: center;
    color: var(--text-color);
}


/*-------------politicas de Privacidad------------*/
.contenido-principal {
    width: 60%;
    padding: 30px;
    margin: 2em;
}

.contenido-principal h1 {
    font-size: var(--title-h1);
    margin-bottom: 20px;
}

.contenido-principal h2 {
    font-size: var(--title-h2);
    margin-top: 20px;
    margin-bottom: 10px;
}

.contenido-principal ul {
    margin-left: 20px;
    list-style-type: disc;
}

.contenido-principal ul li {
    margin-bottom: 8px;
    font-size: var(--title-h3)
}

.contenido-principal p {
    font-size: var(--title-h3);
}

/* Botón de descarga */
a[download] {
    display: inline-block;
    margin-top: 20px;
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

a[download]:hover {
    background-color: #1c598a;
}

/* Estilos para el formulario de solicitud ARCO */
form {
    margin-top: 30px;
}

input[type="file"],
input[type="email"],
input[type="text"],
input[type="tel"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    background-color: #2980b9;
    color: white;
    border: none;
}

input[type="submit"]:hover {
    background-color: #1c598a;
}



/*------------------------------------------------*/
/*------------Media Query para laptops------------*/
/*------------------------------------------------*/
@media (min-width: 1025px) and (max-width: 1440px) {
    :root {
        --title-h1: 1.8rem;
        --title-h2: 1.6rem;
        --title-h3: 1.4rem;
        --paragraph: 1.2rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        width: 80%;
    }

    .carousel {
        height: 300px;
    }

    .carousel-slide img {
        height: 60%;
    }

    /*--------------oliticas de Privacidad------------*/
    .contenido-principal {
        width: 80%;
    }
}




/*------------------------------------------------*/
/*------------Media Query para tablets------------*/
/*------------------------------------------------*/
@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --title-h1: 1.6rem;
        --title-h2: 1.4rem;
        --title-h3: 1.2rem;
        --paragraph: 1rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        width: 90%;
    }

    .carousel {
        height: 300px;
    }

    .carousel-slide img {
        height: 60%;
    }

    /*--------------oliticas de Privacidad------------*/
    .contenido-principal {
        width: 90%;
    }
}

/* Media Query para celulares */
@media (max-width: 768px) {
    :root {
        --title-h1: 1.4rem;
        --title-h2: 1.2rem;
        --title-h3: 1rem;
        --paragraph: 0.9rem;
    }

    /*--------------------carousel--------------------*/
    .introduction {
        max-width: 100%;
    }

    .carousel {
        width: 100vw;
        height: 250px;
    }

    .carousel-slide img {
        height: 60%;
    }

    .introduction .nombre{
        width: 100%;
    }

    /*-------------politicas de Privacidad------------*/
    .contenido-principal {
        width: 100%;
        padding: 10px;
    }
}